

* {
    font-family: Noto Sans KR, sans-serif;
	word-breka: keep-all;
}

html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Noto Sans KR, sans-serif;
    background: #fff;
    font-size: 12px;
    color: #222c46;
    line-height: 18px;
}


html:first-child select {
     padding-right: 6px;
     height: 20px;
}


body {

    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Noto Sans KR, sans-serif;
    background: #fff;
    font-size: 12px;
    color: #222c46;
    line-height: 18px;
}

div {
    margin: 0;
    padding: 0;
    font-family: Noto Sans KR, sans-serif;
}


dl {
    margin: 0;
    padding: 0;
    font-family: Noto Sans KR, sans-serif;
}
dt {
    margin: 0;
    padding: 0;
    font-family: Noto Sans KR, sans-serif;
}
dd {
    margin: 0;
    padding: 0;
    font-family: Noto Sans KR, sans-serif;
}
ul {
    margin: 0;
    padding: 0;
    font-family: Noto Sans KR, sans-serif;
    list-style: none;
}
ol {
    margin: 0;
    padding: 0;
    font-family: Noto Sans KR, sans-serif;
    list-style: none;
}
li {
    margin: 0;
    padding: 0;
    font-family: Noto Sans KR, sans-serif;
    list-style: none;
}
h1 {
    margin: 0;
    padding: 0;
    font-family: Noto Sans KR, sans-serif;
}
h2 {
    margin: 0;
    padding: 0;
    font-family: Noto Sans KR, sans-serif;
}
h3 {
    margin: 0;
    padding: 0;
    font-family: Noto Sans KR, sans-serif;
}
h4 {
    margin: 0;
    padding: 0;
    font-family: Noto Sans KR, sans-serif;
}
h5 {
    margin: 0;
    padding: 0;
    font-family: Noto Sans KR, sans-serif;
}

h6 {
    margin: 0;
    padding: 0;
    font-family: Noto Sans KR, sans-serif;
}


pre {
    margin: 0;
    padding: 0;
    font-family: Noto Sans KR, sans-serif;
    word-wrap: break-word;
}
form {

    margin: 0;
    padding: 0;
    font-family: Noto Sans KR, sans-serif;
    display: block;
    border: none;
}


fieldset {
    margin: 0;
    padding: 0;
    font-family: Noto Sans KR, sans-serif;
    display: block;
    border: none;
}


input {
    margin: 0;
    padding: 0;
    font-family: Noto Sans KR, sans-serif;
}

input:focus {
    outline: none !important;
}

textarea {

    margin: 0;
    padding: 0;
    font-family: Noto Sans KR, sans-serif;
    overflow: auto;
    resize: none;

}
textarea:focus {
    outline: none !important;
}

p {
    margin: 0;
    padding: 0;
    font-family: Noto Sans KR, sans-serif;
}

blockquote {
    margin: 0;
    padding: 0;
    font-family: Noto Sans KR, sans-serif;
}


th {
    margin: 0;
    padding: 0;
    font-family: Noto Sans KR, sans-serif;
    word-break: break-all;
    font-style: normal;
    font-weight: normal;
}


td {
    margin: 0;
    padding: 0;
    font-family: Noto Sans KR, sans-serif;
    word-break: break-all;
}


legend {
    margin: 0;
    padding: 0;
    font-family: Noto Sans KR, sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
}


em {

    margin: 0;
    padding: 0;
    font-family: Noto Sans KR, sans-serif;
    font-style: normal;
    font-weight: normal;
}


span {
    margin: 0;
    padding: 0;
    font-family: Noto Sans KR, sans-serif;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
    font-family: Noto Sans KR, sans-serif;
}


img {
    border: none;
    vertical-align: top;
}
address {
    font-style: normal;
    font-weight: normal;
}


caption {
    font-style: normal;
    font-weight: normal;
}
cite {
    font-style: normal;
    font-weight: normal;
}
code {
    font-style: normal;
    font-weight: normal;
}
dfn {
    font-style: normal;
    font-weight: normal;
}
var {
    font-style: normal;
    font-weight: normal;
}
abbr {
    border: none;
}
acronym {
    border: none;
}
hr {
    display: none;
}

a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
    font-family: Noto Sans KR, sans-serif;

 }

a:link {
    text-decoration: none;
}


a:visited {
     text-decoration: none;
 }
a:hover {
     color: #333;
     text-decoration: none;
 }

a:active {
     color: #333;
     text-decoration: none;
 }


a:focus {
     color: #333;
     text-decoration: none;
     outline: none !important;
}

br {
    background: none !important;
}



option {
    padding-right: 6px;
}


label {
    font-family: Noto Sans KR, sans-serif;
}


br {
    background: none !important;
}

button:focus {
    outline: none !important;
}

.login-content-container{
    width: 100%;
    height: 100%;
    background: url('../images/bg_login.png') 50% 50% no-repeat; background-size: cover;
    position: relative;
    min-width: 400px;
}


.main_tit {position: absolute; top: 50%; left: 50%; margin: -250px 0 0 -180px; ;color:#fff; font-size: 20px; font-weight: bold;}
.main_tit span {font-size: 18px; font-weight: 300;}
/* Login */
.loginWrap {overflow:hidden; position:absolute; top:50%; left:50%; width:853px; height:416px; margin:-208px 0 0 -426px; border-radius:5px; box-shadow:0 0 30px rgba(0,0,0,0.1); background:#fff;}
.loginWrap fieldset {display:block; float:left; width:100%; height:100%;}
.loginWrap .loginBox {display:table; width:100%; height:100%;}
.loginWrap .fl {display:table-cell;  width:50%; height:100%; text-align:center; vertical-align:middle;}
.loginWrap .fr {display:table-cell; position:relative; width:50%; padding:0 55px; text-align:center; vertical-align:middle;}
.loginWrap .fr:before {content: "";position: absolute; left: -1px; bottom: 90px; width: 1px ; height: 240px; background: #d8e2fa; }

.loginWrap .fl .sub_logo {margin: 10px 0 0 0;}
.loginWrap .fr span {display:block; position:relative; margin:0 0 5px 0;}
.loginWrap .fr span .ipt_txt {display:block; width:calc(85% ); height:36px; padding:0 5px 0 40px; line-height:36px; border:2px solid #fff; border-radius:5px; box-shadow:inset 2px 2px 5px rgba(0,0,0,0.1); transition:all 0.3s ease-out;}
.loginWrap .fr span #ipt_id {background:#e0e9f6 url('../images/ico_email.png') 10px 50% no-repeat;}
.loginWrap .fr span #ipt_pw {background:#e0e9f6 url('../images/ico_pw.png') 10px 50% no-repeat;}
.loginWrap .fr span .ipt_txt:focus {border:2px solid #0dd3d3; box-shadow:none; background-color: #fff !important; transition:all 0.3s ease-out;}
.loginWrap .fr span .ipt_txt.error { border:2px solid #f00;  transition:all 0.3s ease-out;}
.loginWrap .fr span .rta_txt:focus{border:2px solid #ff8415;}
.loginWrap .fr span .chatbot_txt:focus{border:2px solid #6d98fa;}
.loginWrap .fr span .voc_txt:focus{border:2px solid #654ccc;}

.loginWrap .fr span .txt_error { position:absolute; top:-23px; left:0; color: #f00; text-align:left;}
.loginWrap .fr span .disbBox {position:absolute; top:0; left:0; width:100%; height:100%; cursor: pointer;}
.loginWrap .fr span .btn_login {display:block; width:100%; height:46px; margin: 27px 0 0 0; color:#fff; font-size:14px; line-height:46px; border:none; border-radius:3px; background:#0dd3d3; cursor:pointer; transition:all 0.3s ease-out;}
.loginWrap .fr span .btn_login_rta{background:#ff8415;}
.loginWrap .fr span .btn_login_chatbot{background:#6d98fa;}
.loginWrap .fr span .btn_login_voc{background:#654ccc;}
.loginWrap .fr span .btn_login.disabled {height: 46px; background:#3b445b;}
.loginWrap .fr .btn_forgot {margin: 10px 0 0 0; color:#363a44;  text-align: center; background-color: transparent; border: none;}

.checks { padding:0 0 5px 2px; text-align:left;}
.checks input[type="checkbox"] {position:absolute; width:1px; height:1px; padding:0; margin:-1px; overflow:hidden; clip:rect(0,0,0,0); border:0}
.checks input[type="checkbox"] + label {display:inline-block; position:relative; color:#363a44; cursor:pointer; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none;}
.checks input[type="checkbox"] + label:before {content:''; display:inline-block; overflow:hidden; width:15px; height:15px; font-size:12px; line-height:14px; margin:-2px 5px 0 0; text-align:center; vertical-align:middle; border:none; border-radius:3px; box-shadow:inset 2px 2px 3px rgba(0,0,0,0.1); background:#e0e9f6; transition:all 0.3s ease-out;}
.checks input[type="checkbox"]:checked + label:before {content:'\2714'; color:#fff; font-size:10px; box-shadow:inset 2px 2px 3px rgba(0,0,0,0);  background:#0dd3d3; transition:all 0.3s ease-out;}
.checks input[type="checkbox"]:checked + .check_rta:before {background:#ff8415;}
.checks input[type="checkbox"]:checked + .check_chatbot:before {background:#6d98fa;}
.checks input[type="checkbox"]:checked + .check_voc:before {background:#654ccc;}

.copyRight {position:absolute; bottom:20px; width:100%; color:#fff; text-align:center;}



