<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="fragments/config :: configFragment"></head>
<body class="hold-transition skin-blue sidebar-mini">
    <script type="text/javascript" th:src="@{/webjars/chart.js/2.8.0/dist/Chart.js}"></script>
    <script th:src="@{/js/common/chartjs-plugin-annotation.js}"></script>
    <script th:src="@{/js/common/chartUtils.js}"></script>
    <script th:src="@{/bower_components/moment/moment.js}"></script>
    <script th:src="@{/bower_components/moment/locale/ko.js}"></script>
    <script th:src="@{/bower_components/bootstrap-daterangepicker/daterangepicker.js}"></script>
    <link th:href="@{/bower_components/bootstrap-daterangepicker/daterangepicker.css}" rel="stylesheet"/>
    <script th:src="@{/plugins/iCheck/icheck.min.js}"></script>
    <script th:src="@{/js/spin/spin.js}"></script>
    <script th:src="@{/js/spin/deepstudy_spin.js}"></script>
    <script th:src="@{/js/common/common.js}"></script>
    <script th:src="@{/js/common/jquery-cookie.js}"></script>
<div class="wrapper">
<header th:replace="fragments/header :: headerFragment">

</header>
<aside th:replace="fragments/aside :: asideFragment"></aside>
<div class="wrapper">
    <div layout:fragment="content"></div>
</div>
<footer th:replace="fragments/footer:: footerFragment"></footer>
<!--            <aside th:replace="fragments/aside2 :: aside2Fragment"></aside>-->
<div class="control-sidebar-bg"></div>
</div>
</body>
</html>