<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">


        <title>TTS ADMIN</title>
        <link th:href="@{/css/login.css}" rel="stylesheet" />
        <script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/dist/jquery.js}"></script>
        <script type="text/javascript" th:src="@{/js/security/jsbn.js}"></script>
        <script type="text/javascript" th:src="@{/js/security/rsa.js}"></script>
        <script type="text/javascript" th:src="@{/js/security/prng4.js}"></script>
        <script type="text/javascript" th:src="@{/js/security/rng.js}"></script>
        <script type="text/javascript" th:src="@{/js/common/jquery-cookie.js}"></script>
        <link rel="stylesheet" th:href="@{/bower_components/bootstrap/dist/css/bootstrap.min.css}"/>
        <script th:src="@{/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
    </head>
    <body class="hold-transition skin-blue sidebar-mini">
        <div class="login-content-container">
            <div class="main_tit">
            </div>
            <form id="loginFrm" method="post" action="">
                <input type="hidden" name="securedUsername" id="securedUsername" value="" />
                <input type="hidden" name="securedPassword" id="securedPassword" value="" />
            </form>
            <form name="rsafrm" id="rsafrm">
                <input type="hidden" id="rsaPublicKeyModulus" name="rsaPublicKeyModulus"  />
                <input type="hidden" id="rsaPpublicKeyExponent" name="rsaPpublicKeyExponent" />
            </form>
            <form class="loginWrap" method="get" action="">
                <fieldset>
                    <legend>Login</legend>
                    <div class="loginBox">
                        <div class="fl">
                            <h1 class="page-header" style="border: 0">TTS ADMIN</h1>
                        </div>

                        <div class="fr">
                            <span>
                                <!-- [D] ID값 에러일 경우 input에 클래스 error를 선언해주세요. -->
                                <input type="text" name="ipt_id" id="ipt_id" class="ipt_txt chatbot_txt" placeholder="User ID" style="width: 100%">
                            </span>
                            <span>
                                <!-- [D] pw값 에러일 경우 input에 클래스 error를 선언해주세요. -->
                                <input type="password" name="ipt_pw" id="ipt_pw"  class="ipt_txt chatbot_txt" title="Password" placeholder="Password" style="width: 100%">
                            </span>
                            <span class="checks">
                                <input type="checkbox"   name="ipt_check" id="ipt_check" class="ipt_check">
                                <label for="ipt_check" class="check_chatbot">Remember me</label>
                            </span>
                            <span>
                                <!-- <em class="disbBox"></em> -->
                              <input type="button" name="btn_login" id="btn_login"  class="btn_login btn_login_chatbot" title="Login" value="Login"  />
                            </span>
                            <!-- <a class="btn_forgot">Forgot your password?</a> -->
                        </div>
                    </div>
                </fieldset>
            </form>
            <!-- //loginBox -->
        </div>
    </body>

    <div class="modal fade" id="modal-password">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="modalTitle">Password Change</h4>
                </div>
                <div class="modal-body">
                    <form role="form" class="box">
                        <div class="box-body">
                            <div class="form-group">
                                <label>ID</label>
                                <input type="text" class="form-control" id="userId" disabled>
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" class="form-control" id="password">
                            </div>
                            <div class="form-group">
                                <label>Password Confirm</label>
                                <input type="password" class="form-control" id="passwordConfirm">
                            </div>

                            <ul>
                                <li>영문자, 숫자, 특수문자 혼용 8자리 이상</li>
                                <li>3자리 이상의 동일한 문자 설정 불가</li>
                                <li>ID와 동일하거나 ID의 연속된 4글자 설정 불가</li>
                                <li>3자리 이상 연속된 키보드 자판으로 설정 불가</li>
                            </ul>

                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="col-xs-12">
                        <button type="button" class="btn btn-primary" onclick="save();">저장</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function initLoginForm(){

            $('#ipt_id, #ipt_pw').each(function(){
                $(this).val('');
            });

            if($.cookie('ipt_check')) {
                $('#ipt_id').val($.cookie('ipt_check'));
                $("#ipt_check").prop('checked', true);
            }

            $('.ipt_txt').on('change keyup paste click', function(e) {
                var idValLth = $('#ipt_id').val().length;
                var pwValLth = $('#ipt_pw').val().length;

                if ( idValLth > 0 && pwValLth > 0) {
                    $('.btn_login').removeClass('disabled');
                    $('.btn_login').removeAttr('disabled');
                    $('.disbBox').remove();
                    //버튼이 활성화 될때만 엔터키 허용
                    if(e.keyCode == 13){
                        login();
                    }

                } else {
                    $('.btn_login').addClass('disabled');
                    $('.btn_login').attr('disabled');
                }

            });

            $('#btn_login').on('click', function(e){
                login();
            });
        }

        $("#modal-password").on("hide.bs.modal", function (event) {
            event.preventDefault();
        });


        function login(){
            var   id  = $("#ipt_id").val();
            var   pw  =  $("#ipt_pw").val();

            if(checkValidate(id, pw)){
                submitEncryptedForm(); // rsa 로 id / passwd 암호화

                var   userName  =    $("#loginFrm").find("#securedUsername").val();
                var   userPasswd  =  $("#loginFrm").find("#securedPassword").val();

                var param={
                    userId :userName,
                    userKey : userPasswd
                };

                $.ajax({
                    type : "post",
                    dataType: "json",
                    url : "/loginajax",
                    data : param,
                    success : function (data) {
                        console.log(data);
                        if(data.resultCode === 200){
                            console.log('성공');

                            if($("#ipt_check").is(":checked")) {
                                $.cookie('ipt_check', id, { expires: 7 });
                            }
                            location.href='/index';
                        } else if(data.resultCode === 501){
                            alert("비밀번호를 변경해야합니다.");
                            changePassword();
                        } else if(data.resultCode === 502){
                            alert("로그인, 회원 추가 기록이 없습니다. 관리자에게 문의하세요.");
                            location.href='/index';
                        } else if(data.resultCode === 503){
                            alert(data.resultMsg);
                            location.href='/index';
                        } else if(data.resultCode === 504){
                            alert(data.resultMsg);
                            location.href='/index';
                        } else if(data.resultCode === 1002){
                            alert("한달동안 로그인 하지 않았습니다. 계정이 비활성화 됩니다.");
                            location.href='/index';
                        } else if(data.resultCode === 2001){
                            alert("계정이 비활성화 상태입니다. 관리자에게 문의하세요");
                            location.href='/index';
                        } else {
                            alert(data.resultMsg);
                            location.href='/index';
                            return false;
                        }
                    },
                    fail:function(data){
                        console.log(data)
                    },
                    error: function(data, status, error){
                        console.log(error);
                    }
                });
            }
        }

        function changePassword(){
            $('#modal-password').modal({backdrop: 'static'});
            $('#userId').val($('#ipt_id').val());
        }

        function save(){
            var rsa = new RSAKey();
            var rsaF = document.rsafrm;

            rsa.setPublic(rsaF.rsaPublicKeyModulus.value, rsaF.rsaPpublicKeyExponent.value);

            var enc_id = rsa.encrypt($('#ipt_id').val());
            var enc_pw = rsa.encrypt($('#password').val());
            var enc_pwCf = rsa.encrypt($('#passwordConfirm').val());

            $.ajax({
                type: "post",
                dataType: "json",
                url: "/changePassword",
                data: {id: enc_id,
                pw: enc_pw,
                pwCf: enc_pwCf},
                success: function (data) {
                    console.log(data);
                    if(data.resultCode === 200){
                        console.log('성공');

                        if($("#ipt_check").is(":checked")) {
                            $.cookie('ipt_check', $('#ipt_id').val(), { expires: 7 });
                        }
                        alert('변경 완료');
                        location.href ="/login";
                    }else if(data.resultCode === 502){
                        alert("제약조건을 확인하십시오.");
                        $('#password').val('');
                        $('#passwordConfirm').val('');
                    } else {
                        alert(data.resultMsg);
                        return false;
                    }
                },
                fail:function(data){console.log(data)},
                error: function(data, status, error){
                    console.log(error);
                }
            });

        }

        function submitEncryptedForm() {

            var securedLoginForm = document.getElementById('loginFrm');
            var rsa = new RSAKey();
            var rsaF = document.rsafrm;

            rsa.setPublic(rsaF.rsaPublicKeyModulus.value, rsaF.rsaPpublicKeyExponent.value);
            // 사용자ID와 비밀번호를 RSA로 암호화한다.
            securedLoginForm.securedUsername.value = rsa.encrypt($("#ipt_id").val());  // id 암호화
            securedLoginForm.securedPassword.value = rsa.encrypt($("#ipt_pw").val());  // passwd 암호화
        }


        function checkValidate(userName, userPasswd){

            if(userName === '' && userPasswd === ''){
                alert("아이디와 암호를 모두 입력하세요");
                return false;
            }else if(userName === ''){
                alert("아이디를 입력하세요.");
                return false;
            }else  if(userPasswd === ''){
                alert("암호를 입력하세요");
                return false;
            }
            return true;
        }


        function getRSAKeys() {

            $.ajax({
                type : "post",
                dataType: "json",
                url : "/getRSAKeyValue",
                async: false,
                success : function (data) {
                    $('#rsaPublicKeyModulus').val(data.publicKeyModulus);
                    $('#rsaPpublicKeyExponent').val(data.publicKeyExponent);

                    // setTimeout(getRSAKeys, 20 * 60 * 1000);
                },
                fail:function(data){console.log(data)},
                error: function(data, status, error){
                    console.log(error);
                }
            });

        }

        $(document).ready(function (){
            initLoginForm();
            getRSAKeys();
            // $('#modal-close').trigger('click');

            setInterval(function() {
                !document.hidden && getRSAKeys()
            }, 20 * 60 * 1000);
        });
    </script>
</html>
