<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" data-layout-decorate="~{layout/main_layout}">
<div class="content-wrapper"  layout:fragment="content">
<!-- content start -->
  HELLO !!!
  <br>
  <a href="#" th:text="${message}"/>
<!-- content end -->
</div>
</html>